<#include "/include/header.html">
    <body>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="${base.contextPath}/common/code?orderType=SYS.ORDER_TYPE" type="text/javascript"></script>

    <script>
        var isedit = '${RequestParameters.isedit}';
        var viewModel = kendo.observable({
            model: {},
            orderStatus: orderType,
            createFunction: function () {  //新建
                editData();
            },
            saveFunction: function () {//保存
                $("#grid").data('kendoGrid').saveChanges();
            },
            cancelFunction: function (e) {//取消
                $("#grid").data('kendoGrid').cancelChanges();
            },
            queryFunction: function (e) { //关联绑定
                $("#grid").data('kendoGrid').dataSource.page(0);
            },
            queryResource: function (e) {//把里面的东西绑定好
                $("#grid").data('kendoGrid').dataSource.page(0);
            },
        });
        //        if (isedit) {
        $.ajax({
            url: '${base.contextPath}/fnd/company/query?companyId=${RequestParameters.companyId!0}',
            success: function (args) {
                var a0 = args.rows[0] || {};
                for (var k in a0) {
                    viewModel.model.set(k, a0[k]);
                }
            }
        });

        //        }

    </script>
    <h4>订单明细页面</h4>
    <hr>
    <div id="page-content"  style="clear: both">
        <form class="form-customEdit">

            <div class="col-xs-12" style="clear: both;" id="main_tab">
                <label class="col-xs-2 control-label" style="text-align: right">订单编号</label>
                <div class="col-xs-2">
                    <input id="orderNumber" type="text" data-bind="value:model.orderNumber" class="k-textbox"  style="width: 100%;">
                    <script>kendo.bind($('#orderNumber'), viewModel);</script>
                </div>

                <label class="col-xs-2 control-label" style="text-align: right">公司名称</label>
                <div class="col-xs-2">
                    <input type="text" id="companyName" style="width:100%;" data-bind="value:model.companyId">
                    <script>
                        $("#companyName").kendoLov({
                            code: "LOV_SELECTCOMPANY",
                            contextPath: '${base.contextPath}',
                            locale: '${base.locale}'
                        });
                        kendo.bind($('#companyName'), viewModel);

                        kendo.bind($('#form-customEdit'), viewModel);
                    </script>
                </div>

                <label class="col-xs-2 control-label"  style="text-align: right">客户名称</label>
                <div class="col-xs-2">
                    <input type="text" id="customerName"
                           style="width:100%;" data-bind="value:model.customerId">
                    <script>
                        $("#customerName").kendoLov({
                            code: "LOV_SELECTCUSTOMNAME",
                            contextPath: '${base.contextPath}',
                            locale: '${base.locale}',
                            query: function (e) {
                                e.param['companyId'] = viewModel.model.companyId;
                            }
                        });
                        kendo.bind($('#customerName'), viewModel);
                    </script>
                </div>
            </div>

            <div class="col-xs-12" style="margin-top: 5px">

                <label class="col-xs-2 control-label" style="text-align: right">订单日期</label>
                <div class="col-xs-2">
                    <input id="orderDate" style="width: 100%" data-bind="value:model.orderDate">
                    <script>
                        $('#orderDate').kendoDatePicker();
                        kendo.bind($('#orderDate'), viewModel);
                    </script>
                </div>

                <label class="col-xs-2 control-label" style="text-align: right">订单总金额</label>

                <div class="col-xs-2">
                    <input style="width: 100%" id="orderSale" data-bind="value:model.endDateActive"/>
                    <script>
                        kendo.bind($('#orderSale'), viewModel);
                    </script>
                </div>

                <label class="col-xs-2 control-label"
                       style="text-align: right">订单状态</label>
                <div class="col-xs-2">
                    <select data-role="combobox" id="orderStatu" data-value-primitive="true"
                            placeholder='<@spring.message "resource.type"/>' style="width:100px;"
                            data-text-field="meaning" data-value-field="value"
                            data-bind="source: orderStatus, value: model.orderStatus"></select>
                    <script>kendo.bind($('#orderStatu'), viewModel);</script>
                </div>
            </div>

            <div class="col-sm-12" style="height:40px;margin-top: 5px;">
                <div id="#toolbar-btn">
                <span class="btn btn-primary" style="float:left;width:70px" id="saveGrid" type="submit">保存</span>
                <span class="btn btn-default" style="float:left;width:70px" id="closeWin" type="button">提交</span>
                <a  class="btn btn-clean" href="showCustom.html"  data-bind="click:close" style="float:left;">返回</a>
                </div>
            </div>
            <script>kendo.bind($('#toolbar-btn'), viewModel);</script>
        </form>
    </div>
    <!--逻辑控制-->
    <script>
        $("#page-content").kendoValidator();
        $("#closeWin").click(function () {
            if (isedit) {
                window.parent.$("#editWin").data("kendoWindow").close();
            } else {
                window.parent.$("#newWin").data("kendoWindow").close();
            }
        });
        $("#saveGrid").click(function () {
            if (newViewModel.model.orderNumber == '' || newViewModel.model.orderNumber == null) {
                kendo.ui.showInfoDialog({
                    message: '订单编号不能为空'
                })
            } else {
                newViewModel.model.__status = 'add';
                Hap.submitForm({
                    url: '${base.contextPath}/order/update',
                    formModel: newViewModel.model,
                    success: function (data) {
                        window.parent.$('#grid').data('kendoGrid').dataSource.page(1);
                        if (isedit) {
                            window.parent.$("#editWin").data("kendoWindow").close();
                        } else {
                            window.parent.$("#newWin").data("kendoWindow").close();
                        }
                    }
                });
            }
        });


    </script>
    <!--下面的那个表格-->
    <div id="tabstrip" style="margin-top: 10px">
        <!--tab标签-->
        <ul>
            <li id="inboundtab">主要</li>
            <li id="outboundtab">其他</li>
        </ul>

        <div id="page_content">
            <!--主要的页面-->
            <div class="row" style="clear: both">
                <div class="col-xs-12" style="height:400px;clear:both">
                    <div id="grid" style=""></div>
                </div>
            </div>
        </div>

        <!--这个里面的是在“其他”页面里的东西-->
        <div style="clear: both;">
            <div id="inboundGrid">
                <div class="col-xs-12" style="height:400px;clear:both">
                <div id="grid_out" style=""></div>
            </div>
            </div>
        </div>
    </div>
    <!--id和上面的是对应的，这个是写在第一个框框（主要）那个页面的东西，但是不包括在框框里面，无论在那一层都可以看见的，把这段代码删了会报错-->
    <div id="page-content-out">
        <div class="panel" id="outQuery" style="padding: 0px;border:none;box-shadow: none;">
        </div>
        <script>kendo.bind($('#outQuery'), viewModel);</script>
        <div style="clear: both;">
            <div id="outboundGrid">
            </div>
        </div>
    </div>
    </div>
    <!--    这个是干嘛的不知道。里面写了东西他没有显示出来,似乎是面板吧-->
    <div id="inboundDetail" class="panel" style="border: 0px;padding: 0px 30px;;margin:0px"></div>
    <script id="inboundDetailTemplete" type="text/x-kendo-template">
        <div id="inbdound-body" class="fadeoff">
            <div class="form-horizontal" id="editForm">
            </div>
        </div>
    </script>

    <!-- 这个是干嘛的不知道。里面写了东西他没有显示出来,似乎是面板吧-->
    <div id="outboundDetail" class="panel" style="border: 0px;padding: 0px 30px;;margin:0px"></div>
    <script id="outboundDetailTemplete" type="text/x-kendo-template">
        <div id="outbound-body" class="fadeoff">
            <div class="form-horizontal">
            </div>
        </div>
    </script>

    <!--定义跳来跳去的页面-->
    <script>
        var tabToActivate = $("#inboundtab");
        var tabstrip = $("#tabstrip").kendoTabStrip({
                animation: {
                    close: {
                        duration: 200,
                        effects: "fadeOut"
                    },
                    open: {
                        duration: 200,
                        effects: "fadeIn"
                    }
                },
                show: function (e) {
                    if (e.item.id == "inboundtab") {
                        Hap.autoResizeGrid("#inboundGrid");
                    } else if (e.item.id == "outboundtab") {
                        Hap.autoResizeGrid("#outboundGrid");
                    }
                }
            }
        ).data("kendoTabStrip");
        tabstrip.activateTab(tabToActivate);

        /*定义那两个面板了*/
        var inboundWin = $("#inboundDetail").kendoWindow({
            width: '85%',
            height: '40%',
            actions: ["Close"],
            title: '<@spring.message "interface.invoke.detail"/>',
            visible: false,
            resizable: false,
            modal: true
        }).data("kendoWindow");

        var outboundWin = $("#outboundDetail").kendoWindow({
            width: '85%',
            height: '40%',
            actions: ["Close"],
            title: '<@spring.message "interface.invoke.detail"/>',
            visible: false,
            resizable: false,
            modal: true
        }).data("kendoWindow");


    </script>
    <!--表格数据绑定--><!--给显示数据用-->
    <script>
        window.grid = $("#grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: '${base.contextPath}/order/getInvent',
                        type: "POST",
                        contentType: "application/json",
                        dataType: "json",
                    }, parameterMap: function (options, type) {
                        if (type === "read") {
                            return kendo.stringify(Hap.prepareQueryParameter(viewModel.model.toJSON(), options));
                        }
                    }
                },
                schema: {
                    data: 'rows',
                    total: 'total',
                    model: {
                        fields: {
                            headerId: {type: "number"},
                            companyId: {type: "number"},
                            customerId: {type: "number"},
                            inventoryItemId: {type: "number"}
                        }
                    }
                },
                pageSize: 10,
                serverPaging: true,
                //serverFiltering: true,
                serverSorting: true
            },
            height: 350,
            filterable: true,
            sortable: true,
            pageable: true,
            toolbar: [{
                name: "create",
                template: '<span class="btn btn-primary k-grid-add" style="float:left;margin-right:5px;" data-bind="click:createFunction"><@spring.message "hap.new"/></span>' //新建
            }, {
                name: "save",
                template: '<span class="btn btn-success k-grid-save-changes"   data-bind="click:saveFunction" style="float:left;margin-right:5px;"><@spring.message "hap.save"/></span>' //保存
            }, {
                name: "cancel",
                template: '<span  class="btn btn-default k-grid-cancel-changes" data-bind="click:cancelFunction" style="float:left;" ><@spring.message "hap.cancel"/></span>' //取消
            },{
                name: "delete",
                template: '<span  class="btn btn-default k-grid-delete-changes" data-bind="click:deleteFunction" style="float:left;" ><@spring.message "hap.delete"/></span>' //删除
            }],
            columns: [
                {
                    field: "itemCode",
                    title: "物料编码"
                },
                {
                    field: "itemDescription",
                    title: "物料描述",
                },
                {
                    field: "itemUom",
                    title: "产品单位"
                },
                {
                    field: "orderdQuantity",
                    title: "销售单价"
                },
                {
                    field: "unitSellingPrice",
                    title: "金额"
                },
                {
                    field: "orderdQuantity*sumPrice",
                    title: "总共金额"
                },
                {
                    field: "addition1",
                    title: "备注"
                }
            ]

        }).data("kendoGrid");
    </script>

    <!--外面的那个页面-->
    <script>
        window.grid = $("#grid_out").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: '${base.contextPath}/order/getInvent',
                        type: "POST",
                        contentType: "application/json",
                        dataType: "json",
                    }, parameterMap: function (options, type) {
                        if (type === "read") {
                            return kendo.stringify(Hap.prepareQueryParameter(viewModel.model.toJSON(), options));
                        }
                    }
                },
                schema: {
                    data: 'rows',
                    total: 'total',
                    model: {
                        fields: {
                            headerId: {type: "number"},
                            companyId: {type: "number"},
                            customerId: {type: "number"},
                            inventoryItemId: {type: "number"}
                        }
                    }
                },
                pageSize: 10,
                serverPaging: true,
                //serverFiltering: true,
                serverSorting: true
            },
            height: 350,
            filterable: true,
            sortable: true,
            pageable: true,
            toolbar: [{
                name: "create",
                template: '<span class="btn btn-primary k-grid-add" style="float:left;margin-right:5px;" data-bind="click:createFunction"><@spring.message "hap.new"/></span>' //新建
            }, {
                name: "save",
                template: '<span class="btn btn-success k-grid-save-changes"   data-bind="click:saveFunction" style="float:left;margin-right:5px;"><@spring.message "hap.save"/></span>' //保存
            }, {
                name: "cancel",
                template: '<span  class="btn btn-default k-grid-cancel-changes" data-bind="click:cancelFunction" style="float:left;" ><@spring.message "hap.cancel"/></span>' //取消
            },
                {
                    name: "delete",
                    template: '<span  class="btn btn-default k-grid-delete-changes" data-bind="click:deleteFunction" style="float:left;" ><@spring.message "hap.delete"/></span>' //删除
                }],
            columns: [
                {
                    field: "itemCode",
                    title: "物料编码"
                },
                {
                    field: "itemDescription",
                    title: "物料描述",
                },
                {
                    field: "itemUom",
                    title: "产品单位"
                },
                {
                    field: "orderdQuantity",
                    title: "销售单价"
                },
                {
                    field: "unitSellingPrice",
                    title: "金额"
                },
                {
                    field: "orderdQuantity*sumPrice",
                    title: "总共金额"
                },
                {
                    field: "addition1",
                    title: "备注"
                }
            ]

        }).data("kendoGrid");
    </script>


    </body>
    </html>